{% extends 'login.html.twig' %}

{% block title %}
    FORM'Abil - Enquête Client
{% endblock %}

{% block body %}

    <div class="enquetes">

        <div class="row ofLogo">
            <img src="{{ vich_uploader_asset(planif.organisme, 'imageFile') }}" alt="logo de l'organisme">
        </div>
        <div class="row mt-4">
            <h1>Enquête Client</h1>
        </div>
        <div class="row mt-4">
            <p>
                Bonjour, la formation <span>{{ planif.programme.nomFormation }}</span> que nous avons donné à vos salariés est maintenant terminé.
            </p>
            <p>
                Nous vous invitons donc à répondre à cette enquête afin de nous permettre d'améliorer nos services.
            </p>
        </div>

        <hr>

        {{ form_start(form) }}

        <h4>Organisation de la formation :</h4>
        <div class="cadre">
            <div class="col-md-12 form-group">
                <div class="form-label">
                    {{ form_label(form.offre_disponible) }}
                </div>
                <div class="form-widget">
                    {{ form_widget(form.offre_disponible) }}
                </div>
            </div>
            <hr>
            <div class="col-md-12 form-group">
                <div class="form-label">
                    {{ form_label(form.formalites_clair) }}
                </div>
                <div class="form-widget">
                    {{ form_widget(form.formalites_clair) }}
                </div>
            </div>
            <hr>
            <div class="col-md-12 form-group">
                <div class="form-label">
                    {{ form_label(form.infos_avant_formation) }}
                </div>
                <div class="form-widget">
                    {{ form_widget(form.infos_avant_formation) }}
                </div>
            </div>
            <hr>
            <div class="col-md-12 form-group">
                <div class="form-label">
                    {{ form_label(form.elements_contractuels) }}
                </div>
                <div class="form-widget">
                    {{ form_widget(form.elements_contractuels) }}
                </div>
            </div>
            <hr>
            <div class="col-md-12 form-group">
                <div class="form-label">
                    {{ form_label(form.formation_utile_competences) }}
                </div>
                <div class="form-widget">
                    {{ form_widget(form.formation_utile_competences) }}
                </div>
            </div>
            <hr>
            <div class="col-md-12 form-group">
                <div class="form-label">
                    {{ form_label(form.apprecie_relation_of) }}
                </div>
                <div class="form-widget">
                    {{ form_widget(form.apprecie_relation_of) }}
                </div>
            </div>
        </div>
        <hr>
        <div>
            <div class="col-md-12 form-group">
                <h4>{{ form_label(form.recommande) }}</h4>
                <div class="form-widget">
                    {{ form_widget(form.recommande) }}
                </div>
            </div>
        </div>

        <button class="btn btn-primary mt-4">{{ button | default('Valider l\'enquête') }}</button>

        {{ form_end(form) }}
    </div>

{% endblock %}

