{%  extends 'base.html.twig' %}

{% block title 'FORM\'Abil - Organismes' %}

{% block body %}

    <div class="right-side">
        <h1 class="mb-4">Mes organismes de formation</h1>
        <div class="organismes">
            <div class="row mt-3">
                {% for organisme in organismes %}
                    <div class="col-md-2 mb-4">
                        <div class="card">
                            {% if organisme.filename %}
                                <div class="card-img-top">
                                    <img src="{{ vich_uploader_asset(organisme, 'imageFile') }}" alt="Logo OF">
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <h6 class="card-title">
                                    <a href="{{ path('organisme.show', {id: organisme.id, slug: organisme.slug}) }}" class="">{{ organisme.nomOf }}</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-3">
                <div>
                    <a href="{{ path('admin.organismes.index') }}" class="btn btn-primary">Gérer mes organismes</a>
                    <a href="{{ path('admin.organisme.new') }}" class="btn btn-primary" style="margin-left: 20px">+ Ajouter un organismes</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}