{% extends 'base.html.twig' %}

{% block title  %}

    FORM'Abil - Ajouter veille

{% endblock %}

{% block body %}

    <div class="right-side">
        {% if app.user and app.user.organisme.filename %}
            <div class="row mt-4 ofLogo">
                <img src="{{ vich_uploader_asset(app.user.organisme, 'imageFile') }}" alt="logo de l'organisme">
            </div>
        {% endif %}
        <div class="row mt-4">
            <h1>Ajouter une veille</h1>
        </div>
        {{ form_start(form) }}
        <div class="row mt-4">
            <div class="col-md-6">{{ form_row(form.intitule) }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">{{ form_row(form.description) }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">{{ form_row(form.veilleFile) }}</div>
        </div>
        <button class="btn btn-primary mt-4">{{ button | default('Appliquer') }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}