{{ form_start(form) }}
<div class="row mt-4">
    <div class="col-md-12 mb-3">{{ form_row(form.imageFile01) }}</div>
    <div class="col-md-12 mb-3">{{ form_row(form.imageFile02) }}</div>
    <div class="col-md-12 mb-3">{{ form_row(form.imageFile03) }}</div>
    <div class="col-md-12 mb-3">{{ form_row(form.imageFile04) }}</div>
    <div class="col-md-12 mb-3">{{ form_row(form.imageFile05) }}</div>
    <div class="col-md-12 mb-3">{{ form_row(form.imageFile06) }}</div>
    <div class="col-md-12 mb-3">{{ form_row(form.imageFile07) }}</div>
    <div class="col-md-12 mb-3">{{ form_row(form.imageFile08) }}</div>
    <div class="col-md-12 mb-3">{{ form_row(form.imageFile09) }}</div>
    <div class="col-md-12 mb-3">{{ form_row(form.imageFile10) }}</div>
    <div class="col-md-12 mb-3">{{ form_row(form.imageFile11) }}</div>
    <div class="col-md-12 mb-3">{{ form_row(form.imageFile12) }}</div>
    <div>
        <button class="btn btn-primary mt-4">{{ button | default('Appliquer') }}</button>
    </div>
</div>
{{ form_end(form) }}