{%  extends 'base.html.twig' %}

{% block title 'FORM\'Abil - Gestion Objectifs' %}

{% block body %}
    <div class="right-side">

        {% if app.user and app.user.organisme.filename %}
            <div class="row mt-4 ofLogo">
                <img src="{{ vich_uploader_asset(app.user.organisme, 'imageFile') }}" alt="logo de l'organisme">
            </div>
        {% endif %}

        <div class="row mt-4">
            <h1>Gérer les objectifs pour la formation : {{ formation.nomFormation }}</h1>
        </div>

        {% for message in app.flashes('succes') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Objectif</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for objectif in objectifs %}
                <tr>
                    <td>{{ objectif.nomObjectif }}</td>
                    <td>
                        <a href="{{ path('admin.objectif.edit', {id: objectif.id}) }}" class="btn btn-secondary">Éditer</a>
                        <form method="post" action="{{ path('admin.objectif.delete', {id: objectif.id}) }}" style="display: inline-block" onsubmit="return confirm('Voulez vous vraiment Supprimer cet Objectif ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objectif.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-end">
            <a href="{{ path('admin.objectif.new', {id: formation.id}) }}" class="btn btn-primary">+ Ajouter un objectif</a>
        </div>
    </div>

{% endblock %}