{% extends 'base.html.twig' %}

{% block title %}
    FORM'Abil - Changer Mot de passe
{% endblock %}

{% block body %}

    <div class="right-side">
        <h1>Mettre à jour le mot de passe</h1>
        {{ form_start(form) }}
        <div class="row mt-2">
            <div class="col-md-3">{{ form_row(form.plainPassword.first) }}</div>
            <div class="col-md-3">{{ form_row(form.plainPassword.second) }}</div>
        </div>
        <button class="btn btn-primary mt-4">{{ button | default('Appliquer') }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

