{%  extends 'base.html.twig' %}

{% block title 'FORM\'Abil - Gestion Stagiaires' %}

{% block body %}
    <div class="right-side">

        {% if app.user and app.user.organisme.filename %}
            <div class="row mt-4 ofLogo">
                <img src="{{ vich_uploader_asset(app.user.organisme, 'imageFile') }}" alt="logo de l'organisme">
            </div>
        {% endif %}

        <div class="row mt-4">
            <h1>Gérer les stagiaires pour la formation : {{ planif.programme.nomFormation }}</h1>
        </div>

        {% for message in app.flashes('succes') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom du stagiaire</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for stagiaire in stagiaires %}
                <tr>
                    <td>{{ stagiaire.nom }} {{ stagiaire.prenom }}</td>
                    <td>
                        <a href="{{ path('admin.stagiaire.edit', {id: stagiaire.id}) }}" class="btn btn-secondary">Éditer</a>
                        <form method="post" action="{{ path('admin.stagiaire.delete', {id: stagiaire.id}) }}" style="display: inline-block" onsubmit="return confirm('Voulez vous vraiment Supprimer ce Stagiaire ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stagiaire.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-end">
            <a href="{{ path('admin.stagiaire.new', {id: planif.id}) }}" class="btn btn-primary">+ Ajouter un stagiaire</a>
        </div>
    </div>

{% endblock %}