{%  extends 'base.html.twig' %}

{% block title 'FORM\'Abil - Gestion Clients' %}

{% block body %}
    <div class="right-side">
        {% if app.user and app.user.organisme.filename %}
            <div class="row mt-4 ofLogo">
                <img src="{{ vich_uploader_asset(app.user.organisme, 'imageFile') }}" alt="logo de l'organisme">
            </div>
        {% endif %}
        <div class="row mt-4">
            <h1>Gérer mes clients</h1>
        </div>
        {% for message in app.flashes('succes') %}

            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom de la société</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients|sort((a, b) => a.nomSociete <=> b.nomSociete) %}
                    <tr>
                        <td>{{ client.nomSociete }}</td>
                        <td>
                            <a href="{{ path('admin.client.edit', {id: client.id}) }}" class="btn btn-secondary">Éditer</a>
                            {% if client.planifs.count > 0 %}
                                <a href="#" class="btn btn-dark">Suppression Impossible</a>
                            {% else %}
                                <form method="post" action="{{ path('admin.client.delete', {id: client.id}) }}" style="display: inline-block" onsubmit="return confirm('Voulez vous vraiment Supprimer ce client ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-end">
            <a href="{{ path('admin.client.new') }}" class="btn btn-primary">+ Ajouter un client</a>
        </div>
    </div>

{% endblock %}