{% extends 'base.html.twig' %}

{% block title  %}

    FORM'Abil - Modifier Formation

{% endblock %}

{% block body %}

    <div class="right-side">

        {% if app.user and app.user.organisme.filename %}
            <div class="row mt-4 ofLogo">
                <img src="{{ vich_uploader_asset(app.user.organisme, 'imageFile') }}" alt="logo de l'organisme">
            </div>
        {% endif %}

        <div class="row mt-4">
            <h1>Mettre à jour la planification de la formation {{ planif.programme.nomFormation }}</h1>
        </div>
        {{ form_start(form) }}
        <div class="row mt-4">
            <h5>Choisissez le client :</h5>
            <p style="font-style: italic; font-size: 14px;">Si votre client n'est pas encore créer, <a href="{{ path('admin.client.new') }}">cliquez ici</a> pour créer un nouveau client.</p>
            <div class="col-md-2">{{ form_widget(form.client) }}</div>
        </div>
        <div class="row mt-2">
            <h5 class="mt-3">Choisissez le le programme :</h5>
            <div class="col-md-4">{{ form_widget(form.programme) }}</div>
        </div>
        <div class="row mt-2">
            <h5 class="mt-3">Choisissez le formateur :</h5>
            <div class="col-md-2">{{ form_widget(form.formateur) }}</div>
        </div>
        <hr style="margin-top: 30px">
        <div class="row mt-4">
            <h5>Prix de la formation :</h5>
            <p style="font-style: italic; font-size: 14px;">Rentrez ici le cout total de la formation (HT)</p>
            <div class="col-md-3">{{ form_widget(form.prix) }}</div>
        </div>
        <div class="row mt-4 col-md-6">
            <h5>Lieu de la formation :</h5>
            <div class="col-md-12">{{ form_row(form.adresse) }}</div>
            <div class="col-md-6 mt-2">{{ form_row(form.code_postal) }}</div>
            <div class="col-md-6 mt-2">{{ form_row(form.ville) }}</div>
            <div class="col-md-6 mt-2">{{ form_row(form.etage) }}</div>
            <div class="col-md-6 mt-2">{{ form_row(form.salle) }}</div>
        </div>
        <div class="row mt-4 col-md-6">
            <h5>{{ form_label(form.modaliteOrga) }}</h5>
            <p style="font-style: italic; font-size: 14px;">Ici vous pouvez noter, entre autre, les différentes modalités d'organisations. Les places de parking, le code pour entrer dans la batiment, la possibilité ou non de prendre les repas sur place etc.</p>
            <div class="col-md-12">
                {{ form_widget(form.modaliteOrga) }}
            </div>
        </div>
        <button class="btn btn-primary mt-4">{{ button | default('Appliquer') }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}